Package: bodhi-theme-moksha-arc-dark
Version: 0.1
Section: main
Priority: optional
Depends: moksha, arc-theme
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Arc Dark Moksha Theme
 Moksha Theme for the Bodhi desktop
