Package: bodhi-theme-moksha-moonlight
Version: 0.6
Section: main
Priority: optional
Depends: moksha
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Moonlight Moksha Theme
 Moksha Theme for the Bodhi desktop
