Package: bodhi-theme-moksha-japan
Version: 0.1
Section: main
Priority: optional
Depends: moksha
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Japanese based Moksha Theme
 Moksha Theme for the Bodhi desktop
