Package: bodhi-theme-moksha-green
Version: 1.11
Section: main
Priority: optional
Architecture: all
Depends: moksha, gtk2-engines-murrine
Maintainer: Stefan Uram <the_waiter@bodhi.sk>
Description: Green theme for Moksha
 Enlightenment theme designed for the Moksha Desktop
